h1{
    color: lightseagreen;
    text-align: center;
}

h3{
    color: blue;
}

p{
    color: crimson;
}

#parentBorder{
    border: solid 10px black;
    border-radius: 30px;
    background-color: lightslategrey;
}

.truthLie{
    border: solid 2px green;
    border-radius: 30px;
    background-color: honeydew;
}

#align{
    display: flex;
    justify-content: space-evenly;
}